@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700);

html, body {
	overflow-x: hidden;
	width: 100%;
}

body {
	font-family: 'Roboto Slab';
	background: #EEE;
	color: #111;
}

#map {
	width: 100%;
	height: 100%;
}

.popup {
	max-width: 240px;
	width: auto !important;
	height: auto !important;
}

::selection {
	background: #444;
	color: #EEE;
}

.noselect {
	cursor: default;
}

.noselect::selection, .noselect ::selection {
	background: inherit;
	color: inherit;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
 
::-webkit-scrollbar-track {
	background: #DDD;
}
 
::-webkit-scrollbar-thumb {
	background: #AAA;
}
 
::-webkit-scrollbar-thumb:HOVER {
	background: #999;
}